<div class="legend">
  <h1>{{ currentSection }}</h1>
  <div class="legend-item">
    <!-- <div class="legend-box answered">{{ answered }}</div> -->
    <div class="legend-box answered">2</div>
    <span class="legend-label">Answered</span>
  </div>
  <div class="legend-item">
    <!-- <div class="legend-box not-answered">{{ notAnswered }}</div> -->
    <div class="legend-box not-answered">4</div>
    <span class="legend-label">Not Answered</span>
  </div>
  <div class="legend-item">
    <!-- <div class="legend-box not-visited">{{ notVisited }}</div> -->
    <div class="legend-box not-visited">4</div>
    <span class="legend-label">Not Visited</span>
  </div>
  <div class="legend-item">
    <!-- <div class="legend-box marked-review">{{ markedReview }}</div> -->
    <div class="legend-box marked-review">23</div>
    <span class="legend-label">Marked for Review</span>
  </div>
  <div class="legend-item">
    <!-- <div class="legend-box answered-review">{{ answeredReview }}</div> -->
    <div class="legend-box answered-review">21</div>
    <span class="legend-label">Answered & Marked for Review</span>
  </div>
</div>
