<div *ngIf="isQuizLoading" class="loader-backdrop">
  <div class="loader-modal">
    <div class="spinner"></div>
    <p>Loading your quiz, please wait...</p>
  </div>
</div>

<div *ngIf="isLoading" class="loader-backdrop">
  <div class="loader-modal">
    <div class="spinner"></div>
    <p>Submitting your test, please wait...</p>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm p-2">
  <div class="container-fluid">
    <div class="order-lg-2 mx-auto">
      <div class="timer-box px-3 py-1 bg-light rounded-pill border small fw-semibold text-dark">
        <app-timer
          *ngIf="startTimer"
          [startTime]="startTime"
          [currentTimeAtStart]="quizLoadedTime"
          (timerEnded)="onTimeEnd()"
        ></app-timer>
      </div>
    </div>
    <button
      class="navbar-toggler ms-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse order-lg-3" id="navbarContent">
      <div class="d-flex align-items-center ms-lg-auto flex-column flex-lg-row gap-3 mt-3 mt-lg-0">
        <span *ngIf="isAuthenticated()" class="user-profile">
          <i class="fas fa-user-circle profile-icon"></i>
          <span class="profile-name">{{ user?.preferred_username || user?.username }}</span>
        </span>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid p-3">
  <div class="card-custom">
    <app-section-tabs
      [currentSection]="currentSection"
      (currentSectionChange)="handleCurrentSection($event)"
      [attemptId]="attemptId()"
      [attemptModel]="attemptModel()"
      [quizId]="quizId"
    ></app-section-tabs>
  </div>

  <div class="row mt-3">
    <div class="col-12 col-lg-8">
      <div class="card-custom">
        <app-questions
          [currentQuestionModel]="currentQuestionModel"
          [currentQuestionData]="currentQuestionData"
          [attemptId]="attemptId()"
          [quizId]="quizId"
          (saveStatusAndNext)="handleNextQuestion($event)"
          (saveStatusAndPrev)="handlePreviousQuestion($event)"
        ></app-questions>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="card-custom">
        <app-navigator
          (navigateQuestion)="handleNavigateQuestion($event)"
          [currentSection]="currentSection"
          class="w-100 mb-3"
        ></app-navigator>
        <button class="btn btn-danger w-100 mt-4 shadow-sm fw-bold rounded-pill" (click)="submitTest()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
