<div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5500">
  <!-- Indicators -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

 <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">

  <div class="carousel-inner">

    <!-- Slide 1 -->
    <div class="carousel-item active">
      <div class="carousel-img">
        <img src="https://questions-mhtcet.s3.ap-south-1.amazonaws.com/home2.jpeg"
             class="d-block w-100" alt="Students studying for exam" />
        <div class="overlay"></div>
      </div>

      <div class="carousel-caption text-start">
        <h1 class="fw-bold">Get Ready for MHT-CET</h1>
        <p class="lead">
          Realistic full-length & topic-wise mock tests with instant feedback and analytics.
        </p>
        <!-- <a class="btn btn-primary btn-lg mt-2">Start Free Mock</a> -->
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-item">
      <div class="carousel-img">
        <img src="https://questions-mhtcet.s3.ap-south-1.amazonaws.com/homr.jpg"
             class="d-block w-100" alt="Performance dashboard" />
        <div class="overlay"></div>
      </div>

      <div class="carousel-caption text-center">
        <!-- <h1 class="fw-bold">Track Your Progress</h1>
        <p class="lead">
          Time per question, accuracy trends, subject-wise strengths & smart insights.
        </p> -->
        <!-- <a class="btn btn-outline-light btn-lg mt-2">View Reports</a> -->
      </div>
    </div>



  </div>

</div>

  <!-- Controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev" aria-label="Previous slide">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next" aria-label="Next slide">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>
