<ul class="nav nav-tabs quiz-tabs mb-3">
  <!-- Physics -->
  <li class="nav-item">
    <a
      class="nav-link"
      [class.active]="selectedSection === 'Physics'"
      (click)="onSectionChange('Physics')">
      Physics
    </a>
  </li>

  <!-- Chemistry -->
  <li class="nav-item">
    <a
      class="nav-link"
      [class.active]="selectedSection === 'Chemistry'"
      (click)="onSectionChange('Chemistry')">
      Chemistry
    </a>
  </li>

  <!-- Divider -->
  <li class="tab-divider"></li>

  <!-- Maths -->
  <li class="nav-item">
    <a
      class="nav-link maths-tab"
      [class.active]="selectedSection === 'Maths'"
      (click)="onSectionChange('Maths')">
      Maths
    </a>
  </li>
</ul>
