<div *ngIf="currentQuestion">
  <h5>Question No. {{ currentQuestion.id }}</h5>
  <p class="fw-semibold">{{ currentQuestion.text }}</p>

  <div class="list-group">
    <label *ngFor="let option of currentQuestion.options; let i = index" class="list-group-item"
      [class.active]="currentQuestion.selectedOption === i">
      <input class="form-check-input me-2" type="radio" name="option" [value]="i"
        [checked]="currentQuestion.selectedOption === i" />
      {{ option }}
    </label>

    <div class="mt-3">
      <button class="btn btn-warning me-2">Mark for Review</button>
      <button class="btn btn-outline-secondary me-2">Clear Response</button>
      <button class="btn btn-success">Save & Next</button>
    </div>

  </div>
</div>

<!-- (change)="onOptionSelect(currentQuestion.id)" -->